@charset "UTF-8";


/** 문서 전체 크기, 여백 설정 */
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	font-family: 'Noto Sans KR', Montserrat; /* 구글 글씨체 */
}


a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

article {
	max-width: 1200px;
    margin: auto;
}

/* 테이블 양식 */
table, th, td {
	text-align: center;
}
/* 게시판 타이틀 */
.admin_board_title {

}
.admin_table {
	max-width: 1500px;
}
table {
	width: 1200px;
	margin: auto;
	border-collapse: collapse;
}
th {
	padding: 10px;
	border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
}
td {
	padding: 10px;
    max-width: 340px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 여백용 div */
.margin {
	height: 60px;
}


/* admin_header 시작 */
.header_logo {
	display: flow-root;
	margin: auto;
}

.brand {
	float: left;
	font-size: 30px;
	padding: 10px 100px;
}

.login {
	float: right;
	padding: 20px 100px;
}

.header_nav {
	text-align: center;
}

.header_menu {
	padding: 0 80px;
	list-style: none;
	display: inline-block;
}
/* admin_header 끝 */ 

/* 
table, th, td {
	border: 1px solid gray;
	text-align: center;
} */

.admin_board_list {
	margin: 80px 0;
}
.admin_faq_area {
	margin: 50px 0;
}
.admin_faq_list {
	padding: 10px;
	text-align: left;
	/* 텍스트 생략 방지 */
	overflow: auto;
    white-space: normal;
}
.admin_faq_list_btn {
	
}
.qna_subject {
	padding: 0 20px; 
	text-align: left;
	border: 1px solid #b1b1b1;
}
.qna_content {
	height:300px; 
	padding: 20px; 
	text-align: left;
	vertical-align: top;
}


table thead {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 20px 10px;
}

table tbody {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 20px 10px;
}

.faq_form_table {
	width: 600px;
}
.faq_form_subject {
	width: 480px;
    padding: 0 10px;
}
.faq_form_content {
	width: 480px;
    padding: 10px 10px;
}
.faq_form_table_line {
	border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
}
/* 게시물 / QNA 상세 페이지 */
.admin_detail_table {
	border: 1px solid #b1b1b1;
}
.admin_detail_table_td {
	border: 1px solid #b1b1b1;
	text-align: left;
    padding: 0 20px;
}
/* qna 상세페이지 답변 table */
.admin_qna_reply {
	width: 600px;
}


.giveList, .giveWrite, .giveDetail {
	padding-bottom: 1%;
}

.giveList_container, .giveWrite_container, .giveDetail_container {
	position: relative;
	z-index: 1;
	width: 80%;
	margin: auto;
}

.giveList_table, .giveWrite_table {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	white-space: nowrap;
}


.giveList_table, .giveWrite_table {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	white-space: nowrap;
}

.giveList {
	max-width: 1500px;
	margin: auto;
}


.giveList_table thead {
	font-weight: bold;
	text-align: center;
}

.giveList_table #dday, .giveDetail #dday {
	font-size: 1.5em;
	color: orange;
	font-weight: bold;
}

.board_btn {
	text-align:center;
	padding: 20px 0;
}

/* board 끝 */

/* 관리자 버튼 목록 시작 */
.admin_login_btn, .admin_board_delete_btn, .admin_member_enable_btn, .admin_member_disble_btn, .admin_qna_delete_btn, .admin_submit_btn {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.admin_login_btn:active, .admin_board_delete_btn:active, .admin_member_enable_btn:active, .admin_member_disble_btn:active, .admin_qna_delete_btn:active, .admin_submit_btn:active { 
	top: 3px; 
	outline: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
}

/* 관리자 로그인 버튼 */
.admin_login_btn {
	border: none;
	width: 114px;
	height: 51px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
	background-color: #9cb5ba; 
	border-color: #578698; 
	-webkit-box-shadow: 0 3px 0 #578698; 
	box-shadow: 0 3px 0 #578698;
}
.admin_login_btn:hover {
	background-color:#578698;
}

/* 삭제 버튼 */
.admin_board_delete_btn {
	border: none;
	width: 55px;
    padding: 3px 15px;
    font-size: 14px;
    color: white;
	background-color: #da8179; 
	border-color: #ad3c3c; 
	
}
.admin_board_delete_btn:hover {
	background-color: #ad3c3c;
}

/* 활성화 버튼 */
.admin_member_enable_btn {
	border: none;
	width: 80px;
    padding: 3px 15px;
    font-size: 14px;
    color: white;
	background-color: #9cb5ba; 
	border-color: #578698; 
}
.admin_member_enable_btn:hover {
	background-color:#578698;
}

/* 비활성화 버튼 */
.admin_member_disble_btn {
	border: none;
	width: 80px;
    padding: 3px 15px;
    font-size: 14px;
    color: white;
    background-color: #da8179; 
	border-color: #ad3c3c; 
    
}
.admin_member_disble_btn:hover {
	background-color:#ad3c3c;
}

/* QNA/FAQ 등록 버튼 */
.admin_submit_btn {
	border: none;
	width: 90px;
	height: 40px;
    font-size: 15px;
    color: white;
	background-color: #9cb5ba; 
	border-color: #578698; 
	-webkit-box-shadow: 0 3px 0 #578698; 
	box-shadow: 0 3px 0 #578698;
}
.admin_submit_btn:hover {
	background-color:#578698;
}
.admin_qna_delete_btn {
	border: none;
	width: 90px;
	height: 40px;
    font-size: 15px;
    color: white;
	background-color: #da8179; 
	border-color: #ad3c3c; 
	-webkit-box-shadow: 0 3px 0 #ad3c3c; 
	box-shadow: 0 3px 0 #ad3c3c;
}
.admin_qna_delete_btn:hover {
	background-color:#ad3c3c;
}


/* 버튼 css 삭제 수정 신청 목록 끝 */

/* 로그인 화면 CSS */
div#member {
	text-align: center;
	margin: 60px 0px;
}

.login_form {
	width: 300px;
	margin: auto;
}

/* 관리자 로그인 상.하단 라인 제거 */
.login_form_tbody {
	border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
}

.login_form_td{
	padding: 0px;
}

.login_button {
    width: 80px;
 	height: 54px;
 	text-align: center;
}

/* footer 시작 */
footer {
	width: 100%;
	height: 10%;
	float: left;
	border-top: 1px solid #9bb6bd;
}

footer #copy {
	text-align: center;
	padding: 1.5%;
	font-size: 12px;
	color: #9bb6bd;
}

.clear {
	clear: both;
}


/* footer 끝 */
