
div #member {
	text-align: center;
}

table #join_table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#pagetitle {
	margin: 0 0 40px;
}

#pagetitle h1 {
	text-align: center;
	color: black;
	font-weight: 800;
}

#pagetitle h1 span {
	border-bottom: 2px solid black;
	padding: 0 2px 2px;
}

