@charset "UTF-8";

section#contents_area aside {
	padding-top: 20px !important;
}

section#contents_area .wrap_contents {
	padding-top: 20px !important;
}

section#content aside {
	padding-top: 20px !important;
}

section#content .wrap_contents {
	padding-top: 20px !important;
}

/* 상단 메뉴바 css 시작 */
nav.tabmenu {
	max-width: 1500px;
	margin: auto; height : 40px;
	background: #eff1f2;
	height: 40px;
}

nav.tabmenu ul {
	padding: 0px;
}

nav.tabmenu ul li {
	float: left;
	padding: 10px 0;
	list-style: none;
}

nav.tabmenu ul li:first-child {
	background: none;
}

nav.tabmenu ul li a {
	display: block;
	height: 20px;
	padding: 0 30px;
	font-size: 15px;
	color: #6e7482;
	text-decoration: none;
}

nav.tabmenu ul li.on {
	background: #6e7482 none;
}

nav.tabmenu ul li.on a {
	color: #FFF;
}

/* 상단 메뉴 css 끝 */

/* report css 시작 */
.note_area {
	max-width: 1500px;
	margin: auto;
}

.content {
	padding: 20px;
	min-height: 270px;
}

.btnArea {
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #d7d5d5;
	text-align: center;
	background-color: #fbfafa;
}

.btn {
	width: 100px;
}

/* table {
	min-width: 800px;
	margin: auto;
	table-layout: fixed;
	border: 1px solid #d7d5d5;
	line-height: 180%;
} */
.report_form {	
    border-left:0px solid #000000;
	border-right:0px solid #000000;
	border-top:0px solid #000000;
	border-bottom:0px solid #000000;
	margin: auto;
	border-collapse: collapse;
}

.report_form_table {
    width: 110px;
    padding: 10px 0 8px 20px;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    background-color: #fbfafa;
}

.report_form_table_text {
	padding: 0 15px;
}

.report_form_table_textarea {
    padding: 10px 15px;
}

.report_form_btn {
	height: 60px;
	text-align: center;
}

.qnaList_title {
	text-align: center;
}

/* th {
	padding: 10px 0 8px 20px;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	background-color: #fbfafa;
} */

td a {
	text-decoration: none;
	color: #000000;
}

td {
	width: auto;
	padding: 10px 0 8px 10px;
	border-top: 1px solid #e8e8e8;
}

table.qnaList tr th, td {
	border-top: 0;
	text-align: center;
}

.qnaList {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
    margin: auto;
    table-layout: fixed;
    border: 1px solid #d7d5d5;
    line-height: 180%;
}

.qnaList th {
	background-color: #e8e8e8;
	padding: 10px;
	border: 1px solid #e8e8e8;
}

.qnaList td {
	padding: 10px;
	border-bottom: solid 1px #b4b4b4;
	text-align: center;
}

.qnaList td a {
	text-decoration: none;
	color: #000;
}

td input, td textarea {
	padding: 2px 2px 2px 4px;
	width: 640px;
	height: 30px;
	color: #202020;
	border: 1px solid #d9d9d9;
}

td input#date {
	width: 70px;
	text-align: center;
}

td textarea {
	height: 350px;
	resize: none;
	font-weight: normal;
}

ul li {
	list-style: none;
}

div.paginate {
	width: 160px;
	padding: 30px;
	margin: auto;
}

/* report css 끝 */

/* qnaView 시작 */
td#qnaView {
	width: auto;
	padding: 30px 0 100px 200px;
	border-top: 1px solid #e8e8e8;
	text-align: left;
}

/* qnaView 끝 */

/* faq css 시작 */
.faq_table {
	max-width: 1500px;
	margin: auto;
	padding: 0px;
}

dt.faqtitle {
	border: 1px solid #d7d5d5;
	padding: 10px;
	overflow: hidden;
}

dt.faqtitle a {
	color: #000000;
	text-decoration: none;
}
/* 글 마우스오버 시 드롭다운 css */
li:hover dd {
	height: 100px;
}

dd {
	height: 0px;
	overflow: hidden;
	transition: height .2s;
	padding-right: 30px;
	padding-left: 30px;
	margin-inline-start: 0px;
	border-left: 1px solid #d7d5d5;
	border-right: 1px solid #d7d5d5;
	border-bottom: 1px solid #d7d5d5;
}

.faq_img {
	display: block;
    position: relative;
    width: 815px;
    margin: auto;
}
/* 글 마우스오버 시 드롭다운 css */
/* faq css 끝 */

/* sidemenu css 시작 */
.sidemenu {
	float: left;
	height: 360px;
	margin-right: 10px;
	text-align: center;
	border-right: 1px solid #b4b4b4;
	padding-right: 20px;
	top: 0px;
	bottom: 0;
}

.sidemenu ul {
	list-style-type: none;
	padding-right: 40px;
}

.sidemenu ul li {
	text-align: left;
	padding-bottom: 10px;
}

.sidemenu .left_li {
	padding-left: 10px;
}

.sidemenu ul li a {
	text-decoration: none;
	color: #000;
}

/* sidemenu css 끝 */